[Desktop Entry]
Name[ca]=Preferències d'Ibus Table
Name[cs]=Předvolby tabulky IBus
Name[de]=Einstellungen für IBus Table
Name[es]=Preferencias de tabla IBus
Name[fr]=Préférences d'IBus Table
Name[ja]=IBus Tableの設定
Name[pt_BR]=Preferências do IBus Table
Name[uk]=Налаштування таблиці IBus
Name[zh_CN]=IBus 码表首选项
Name[zh_TW]=IBus 表格偏好設定
Name[zh_HK]=IBus 偏好設定
Name[tr]=IBus Tablosu Tercihleri
Name[pt_PT]=IBus Table %s - Preferências
Name[ka]=IBus-ის ცხრილის პარამეტრები
Name[ru]=Параметры таблицы IBus
Name[el]=Προτιμήσεις IBus
Name[kab]=Imenyafen n IBus Table
Name[ro]=Preferințe tabel IBus
Name[hu]=IBus beállítások
Name[lo]=ການຕັ້ງຄ່າ IBus Table
Name[ko]=IBus 테이블 설정
Name=IBus Table Preferences
Comment[ca]=Defineix les opcions de l'Ibus Table
Comment[cs]=Nastavit volby tabulky IBus
Comment[de]=IBus Table -Optionen festlegen
Comment[es]=Establecer Opciones de Tabla IBus
Comment[fr]=Définir les options d'IBus Table
Comment[ja]=IBus Tableのオプションを設定する
Comment[pt_BR]=Defina as opções do IBus Table
Comment[uk]=Встановити параметри роботи таблиці IBus
Comment[zh_CN]=设定 IBus 码表选项
Comment[zh_TW]=設定 IBus 表格選項
Comment[tr]=IBus Tablosu Seçeneklerini Ayarlayın
Comment[pt_PT]=Definir opções da Tabela IBus
Comment[ru]=Установить параметры таблицы IBus
Comment[ro]=Configurați opțiunile tabelului IBus
Comment[lo]=ກຳນົດຕົວເລືອກ IBus Table
Comment[ko]=IBus 테이블 옵션을 설정합니다
Comment=Set IBus Table Options
Exec=/usr/libexec/ibus-setup-table
Icon=/usr/share/ibus-table/icons/chinese.svg
NoDisplay=true
Type=Application
StartupNotify=true
