[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
Exec=systemsettings kcm_plasmakeyboard
Icon=input-keyboard
Name=On-Screen Keyboard
Name[ar]=لوحة مفاتيح على الشّاشة
Name[bg]=Екранна клавиатура
Name[ca@valencia]=Teclat en pantalla
Name[ca]=Teclat en pantalla
Name[cs]=Klávesnice na obrazovce
Name[de]=Bildschirmtastatur
Name[es]=Teclado en pantalla
Name[eu]=Pantailako teklatua
Name[fi]=Näyttönäppäimistö
Name[fr]=Clavier en incrustation vidéo (OSD)
Name[he]=מקלדת על המסך
Name[hu]=Képernyő-billentyűzet
Name[ia]=Claviero sur schermo
Name[is]=Skjályklaborð
Name[it]=Tastiera su schermo
Name[ja]=オンスクリーンキーボード
Name[ka]=ეკრანის კლავიატურა
Name[ko]=온스크린 키보드
Name[lt]=Ekraninė klaviatūra
Name[lv]=Ekrāna tastatūra
Name[nb]=Skjermtastatur
Name[nl]=Toetsenbord op scherm
Name[nn]=Skjermtastatur
Name[pl]=Klawiatura ekranowa
Name[pt_BR]=Teclado na tela
Name[ro]=Tastatură pe ecran
Name[ru]=Экранная клавиатура
Name[sk]=Klávesnica na obrazovke
Name[sl]=Zaslonska tipkovnica
Name[sv]=Skärmtangentbord
Name[tr]=Ekran Üzeri Klavye
Name[uk]=Екранна клавіатура
Name[zh_CN]=屏幕键盘
Name[zh_TW]=螢幕上的虛擬鍵盤
