[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
Exec=systemsettings kcm_app-permissions
Icon=preferences-security
Name=Application Permissions
Name[ar]=أذون التطبيق
Name[ca@valencia]=Permisos de les aplicacions
Name[ca]=Permisos de les aplicacions
Name[cs]=Oprávnění aplikace
Name[da]=Applikationstilladelser
Name[de]=Anwendungsberechtigungen
Name[es]=Permisos de la aplicación
Name[eu]=Aplikazioen baimenak
Name[fi]=Sovelluksen käyttöoikeudet
Name[fr]=Permissions pour l'application
Name[he]=הרשאות יישומים
Name[hu]=Alkalmazásjogosultságok
Name[ia]=Permissiones de Application
Name[is]=Heimildir forrita
Name[it]=Permessi delle applicazioni
Name[ja]=アプリケーションの権限
Name[ka]=აპლიკაციის წვდომები
Name[ko]=앱 권한
Name[lt]=Programų leidimai
Name[lv]=Programmu atļaujas
Name[nb]=Programtillatelser
Name[nl]=Rechten van toepassingen
Name[nn]=Program­løyve
Name[pl]=Uprawnienia aplikacji
Name[pt_BR]=Permissões de aplicativos
Name[ro]=Permisiuni aplicații
Name[ru]=Права доступа приложений
Name[sk]=Oprávnenia aplikácií
Name[sl]=Dovoljenja aplikacije
Name[tr]=Uygulama İzinleri
Name[uk]=Права доступу програм
Name[zh_CN]=应用程序权限
Name[zh_TW]=應用程式權限
