[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
X-KDE-OnlyShowOnQtPlatforms=wayland
Exec=systemsettings kcm_krdpserver
Icon=preferences-system-network-remote
Name=Remote Desktop
Name[ar]=سطح المكتب بعيد
Name[az]=Uzaq iş masası
Name[bg]=Отдалечено работно място
Name[ca@valencia]=Escriptori remot
Name[ca]=Escriptori remot
Name[cs]=Vzdálená plocha
Name[de]=Entfernte Arbeitsfläche
Name[en_GB]=Remote Desktop
Name[eo]=Fora Labortablo
Name[es]=Escritorio remoto
Name[eu]=Urruneko mahaigaina
Name[fi]=Etätyöpöytä
Name[fr]=Bureau à distance
Name[gl]=Escritorio remoto
Name[he]=שולחן עבודה מרוחק
Name[hi]=दूरवर्ती डेस्कटॉप
Name[hu]=Távoli asztal
Name[ia]=Scriptorio remote
Name[is]=Fjartengt skjáborð
Name[it]=Desktop remoto
Name[ja]=リモートデスクトップ
Name[ka]=დაშორებული სამუშაო მაგიდა
Name[ko]=원격 데스크톱
Name[lt]=Nuotolinis darbalaukis
Name[lv]=Attālā darbvirsma
Name[nl]=Bureaublad op afstand
Name[nn]=Eksternt skrivebord
Name[pa]=ਰਿਮੋਟ ਡੈਸਕਟਾਪ
Name[pl]=Pulpit zdalny
Name[pt_BR]=Área de trabalho remota
Name[ro]=Birou distant
Name[ru]=Удалённый рабочий стол
Name[sa]=दूरस्थ डेस्कटॉप
Name[sk]=Vzdialená plocha
Name[sl]=Oddaljeno namizje
Name[tr]=Uzak Masaüstü
Name[uk]=Віддалена стільниця
Name[zh_CN]=远程桌面
Name[zh_TW]=遠端桌面
