[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
Exec=systemsettings kcm_push_notifications
Icon=network-connect
Name=Push Services
Name[ar]=خدمات الإشعارات الفورية
Name[bg]=Услуги за известия
Name[ca@valencia]=Serveis de notificació automàtica
Name[ca]=Serveis de notificació automàtica
Name[cs]=Služby push
Name[de]=Push-Dienste
Name[es]=Servicios push
Name[eu]=Push zerbitzuak
Name[fr]=Services de notifications automatiques
Name[he]=שירותים בדחיפה
Name[ia]=Servicios de push 
Name[it]=Servizi push
Name[ka]=პუშ-სერვისები
Name[ko]=푸시 서비스
Name[lt]=„Push“ paslaugos
Name[nl]=Push-services
Name[nn]=Varslingstenester
Name[pt_BR]=Serviços push
Name[ro]=Servicii „push”
Name[ru]=Push-службы
Name[sk]=Služby Push
Name[sl]=Potisne storitve
Name[sv]=Utsändningstjänster
Name[ta]=புஷ் சேவைகள்
Name[tr]=Anında Bildirim Hizmetleri
Name[ug]=يەتكۈزۈش ئۇقتۇرۇشى
Name[uk]=Служби надсилання
Name[zh_CN]=推送服务
Name[zh_TW]=推送通知服務
