[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
Exec=kcmshell6 kcm_disks
Icon=preferences-smart-status
Name=SMART Status
Name[ar]=حالة سمارت
Name[ast]=Estáu de SMART
Name[az]=SMART Status
Name[bg]=SMART състояние
Name[ca@valencia]=Estat de SMART
Name[ca]=Estat de l'SMART
Name[cs]=Stav SMARTu
Name[da]=SMART-status
Name[de]=SMART-Status
Name[el]=Κατάσταση SMART
Name[en_GB]=SMART Status
Name[eo]=SMART Status
Name[es]=Estado de SMART
Name[et]=SMART-i olek
Name[eu]=SMART egoera
Name[fi]=SMART-tilatiedot
Name[fr]=État « SMART »
Name[gl]=Estado SMART
Name[he]=מצב SMART
Name[hi]=स्मार्ट स्थिति
Name[hu]=SMART állapot
Name[ia]=Stato de SMART
Name[id]=Status SMART
Name[is]=SMART-staða
Name[it]=Stato SMART
Name[ka]=SMART-ის სტატუსი
Name[ko]=SMART 상태
Name[lt]=SMART būsena
Name[lv]=SMART statuss
Name[nl]=SMART status
Name[nn]=SMART-status
Name[pa]=SMART ਸਥਿਤੀ
Name[pl]=Stan SMART
Name[pt_BR]=Status do SMART
Name[ro]=Stare SMART
Name[ru]=Состояние SMART
Name[sa]=SMART स्थितिः
Name[sk]=Stav systému SMART
Name[sl]=Stanje SMART
Name[sv]=SMART-status
Name[ta]=SMART நிலை
Name[tr]=SMART Durumu
Name[uk]=Стан SMART
Name[zh_CN]=SMART 状态
Name[zh_TW]=SMART 狀態
