[Desktop Entry]
Type=Application
Version=1.0
Name=SchedExt GUI Manager
Name[ja]=SchedExt GUI マネージャー
Name[fr]=Gestionnaire graphique SchedExt
GenericName=SCX Manager
GenericName[ja]=SCX マネージャー
GenericName[fr]=Gestionnaire SCX
Keywords=cachyos;system;kernel;
Keywords[ja]=cachyos;system;kernel;システム;カーネル
Keywords[fr]=cachyos;système;noyau;
Exec=scx-manager
Comment=Manage scx schedulers
Comment[fr]=Gérer les ordonnanceurs scx
Icon=org.cachyos.scx-manager
Terminal=false
StartupNotify=false
Categories=Qt;System;
X-AppStream-Ignore=true
