# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2023 Tobias Fella <tobias.fella@kde.org>
[Desktop Entry]
Version=1.5
Name=GnuPG Log Viewer
Name[ar]=عارض سجل GnuPG
Name[bg]=Преглед на журнал на GnuPG
Name[ca]=Visualitzador del registre del GnuPG
Name[ca@valencia]=Visor del registre de GnuPG
Name[cs]=Prohlížeč záznamů GnuPG
Name[de]=GnuPG Protokollanzeige
Name[en_GB]=GnuPG Log Viewer
Name[eo]=GnuPG Log Viewer
Name[es]=Visor de registros de GnuPG
Name[eu]=GnuPG egunkari-ikustailea
Name[fi]=GnuPG-lokikatselin
Name[fr]=Afficheur de journaux de GnuPG
Name[gl]=Visor de rexistros de GnuPG
Name[he]=מציג יומני GnuPG
Name[hu]=GnuPG-naplómegjelenítő
Name[ia]=Visor de registro GnuPG
Name[it]=Visualizzatore log di GnuPG
Name[ja]=GnuPG ログビューア
Name[ka]=GnuPG-ის ჟურნალის ნახვა
Name[ko]=GnuPG 로그 뷰어
Name[lv]=„GnuPG“ žurnāla skatītājs
Name[nl]=GnuPG-logviewer
Name[pl]=Przeglądarka dziennika GnuPG
Name[pt_BR]=Visualizador de registros do GnuPG
Name[ru]=Просмотр журнала GnuPG
Name[sa]=GnuPG लॉग दर्शक
Name[sk]=Prehliadač záznamu GnuPG
Name[sl]=Pregledovalnik dnevnika GnuPG
Name[sv]=GnuPG-loggvisning
Name[tr]=GnuPG Günlüğü Görüntüleyicisi
Name[ug]=GnuPG خاتىرە كۆرگۈچ
Name[uk]=Переглядач журналу GnuPG
Name[zh_CN]=GnuPG 日志查看器
Name[zh_TW]=GnuPG 紀錄檢視器
Comment=Viewer for GnuPG daemon and application logs
Comment[ar]=عارض لسجلات تطبيق وبرنامج GnuPG
Comment[bg]=Преглед на GnuPG демон и журнали на приложения
Comment[ca]=Visualitzador dels registres del dimoni i les aplicacions GnuPG
Comment[ca@valencia]=Visor dels registres del dimoni i les aplicacions GnuPG
Comment[cs]=Prohlížeč záznamů démona GnuPG a aplikačních záznamů
Comment[de]=Betrachter für GnuPG Daemon- und Anwendungs-Logs
Comment[en_GB]=Viewer for GnuPG daemon and application logs
Comment[eo]=Vidilo por GnuPG-demono kaj aplikajn protokolojn
Comment[es]=Visor para el servicio GnuPG y los registros de la aplicación
Comment[eu]=GnuPG daimonaren eta aplikazioaren egunkari-ikustailea
Comment[fi]=GnuPG-palvelun ja sovelluksen lokien katselin
Comment[fr]=Afficheur pour le démon de GnuPG et les journaux d'applications
Comment[gl]=Visor de rexistros da aplicación e o servizo de GnuPG.
Comment[he]=מציג יומנים של סוכן GnuPG ושל היישום
Comment[hu]=Megjelenítő GnuPG démon- és alkalmazásnaplókhoz
Comment[ia]=Visor per demon de GnuPG e registros de application
Comment[it]=Visualizzatore di registri per il demone e l'applicazione GnuPG
Comment[ja]=GnuPG daemon とアプリケーションのログのためのビューア
Comment[ka]=დამთვალიერებელი GnuPG დემონისა და აპლიკაციის ჟურნალისთვის
Comment[ko]=GnuPG 데몬과 앱 로그 뷰어
Comment[lv]=„GnuPG“ dēmona un programmu ierakstu skatītājs
Comment[nl]=Viewer voor GnuPG-daemon en logs van toepassingen
Comment[pl]=Przeglądarka dla usługi GnuPG oraz dziennika aplikacji
Comment[pt_BR]=Visualizador para logs de daemon e aplicativo GnuPG
Comment[ru]=Средство просмотра журнала управляющей программы и приложения GnuPG
Comment[sa]=GnuPG डेमन् तथा अनुप्रयोगलॉग्स् कृते दर्शकः
Comment[sk]=Prehliadač záznamov démona GnuPG a aplikácií
Comment[sl]=Pregledovalnik za demona GnuPG in dnevnike aplikacij
Comment[sv]=Visning för GnuPG-demon och programloggar
Comment[tr]=GnuPG ardalan süreci ve uygulama günlükleri için görüntüleyici
Comment[uk]=Засіб перегляду для фонової служби GnuPG та журналів програм
Comment[zh_CN]=GnuPG 守护进程和应用程序日志查看器
Comment[zh_TW]=GnuPG 伺服程式與應用程式日誌的檢視器
Exec=kwatchgnupg
Terminal=false
Icon=org.kde.kwatchgnupg
Type=Application
Categories=System;
SingleMainWindow=true
