# SPDX-FileCopyrightText: 2024 Aleix Pol <aleixpol@kde.org>
# SPDX-License-Identifier: GPL-2.0-only OR GPL-3.0-only OR LicenseRef-KDE-Accepted-GPL

[Desktop Entry]
Name=Plasma Keyboard
Name[ar]=لوحة المفاتيح بلازما
Name[bg]=Клавиатура на Plasma
Name[ca]=Teclat del Plasma
Name[ca@valencia]=Teclat de Plasma
Name[cs]=Klávesnice Plasma
Name[de]=Plasma-Tastatur
Name[es]=Teclado de Plasma
Name[eu]=Plasma teklatua
Name[fi]=Plasma-näppäimistö
Name[fr]=Clavier de Plasma
Name[gl]=Teclado de Plasma
Name[he]=מקלדת פלזמה
Name[hu]=Plasma Billentyűzet
Name[ia]=Claviero de Plasma
Name[is]=Plasma-lyklaborð
Name[it]=Tastiera di Plasma
Name[ka]=Plasma-ის კლავიატურა
Name[ko]=Plasma 키보드
Name[lt]=Plasma klaviatūra
Name[lv]=„Plasma“ tastatūra
Name[nb]=Plasma-tastatur
Name[nl]=Plasma-toetsenbord
Name[nn]=Plasma-tastatur
Name[pa]=ਪਲਾਜ਼ਮਾ ਕੀਬੋਰਡ
Name[pl]=Klawiatura Plazmy
Name[pt_BR]=Teclado do Plasma
Name[ro]=Tastatură Plasma
Name[ru]=Клавиатура Plasma
Name[sk]=Klávesnica Plasma
Name[sl]=Plasma tipkovnica
Name[sv]=Plasma tangentbord
Name[tr]=Plasma Klavye
Name[uk]=Клавіатура Плазми
Name[zh_CN]=Plasma 键盘
Name[zh_TW]=Plasma 鍵盤
Exec=plasma-keyboard
Type=Application
X-KDE-Wayland-VirtualKeyboard=true
Icon=input-keyboard-virtual
NoDisplay=true
